@import url(vars.css);
@import url(range-input.css);

* {
    margin: 0;
    padding: 0;
}





body, html {
    background-color: rgb(240, 255, 240);
    height:100%;
    overflow: hidden;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: inline;
}

nav a:hover {
    background-color: var(--palette-color3, #4fbc9c);
}

nav {
    z-index: 3; /* ensure rendered on top */
    width: 100%;
    display: block;
    font-size: var(--nav-font-size);

    top: 0;
    position: sticky;
    height: var(--nav-height);
    align-items: center;

    ul {
        display: flex;
        justify-content: center;
        overflow: hidden;
        list-style-type: none;
        background-color: var(--palette-color2, #106967);
        height: 100%;

        li {
            height: 100%;
            align-content: center;

            a {
                display: block;
                align-content: center;
                text-align: center;
                background-color: var(--palette-color2, #106967);
                color: var(--palette-color5, #efca7c);
                text-decoration: none;
                height: 100%;
                padding: 0 16px;
            }

            a:hover {
                color: var(--palette-color1, #163235);
            }

            a.active {
                background-color: var(--palette-color3, #4fbc9c);
                color: var(--palette-color1, #163235);
            }

            img {
                width: calc(var(--nav-height) / 2);
                height: 100%;
            }
        }
    }
}

#element-container {
    position: relative;
    width: 100vw;
    height: 90vh;
    margin: auto;
}

movable-element {
    display: block;
    container-type: inline-size;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    transform: translate(-50%, -50%);

    figcaption {
        font-size: 20cqw;
        text-align: center;
        font-weight: bold;
    }
}

movable-element always-display {
    display: block;
    width: 100%;
    height: 100%;

    border-radius: 10%;
    font-size: 0px;

    padding: 10%;
    transition: background-color 300ms ease-in-out;

    img {
        width: 100%;
    }

    figcaption {
        padding: 2cqw 0;
    }
}

movable-element info-reveal {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: calc(100% + 8cqw);
    border-radius: 10%;

    transform: translateY(-60%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.5s ease-in-out;

    margin: 10%;

    background-color: white;

    h1, h2, p {
        margin: 2cqw 4cqw;
    }

    h1 {
        font-size: 14cqw;
        font-weight: bold;
    }

    h2 {
        font-size: 14cqw;
        font-weight: normal;
    }

    p {
        width: auto;
        font-size: 12cqw;
        padding: 0 3cqw;
    }
}

movable-element[data-selected] {
    z-index: 1;
}

movable-element[data-selected] info-reveal {
    box-sizing: border-box;
    visibility: visible;
    opacity: 1;
}

always-display:hover {
    background-color: #ccc;
}

.about-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.about-qr {
    width: 150px;  /* adjust size */
    height: auto;
}

#cited-container {
    display: block;
    width: fit-content;
    min-width: 50vw;
    margin: 3rem auto;

    h1 {
        text-align: center;
    }
}

ol {
    list-style-type: none;
    counter-reset: reference-counter;

    li {
        counter-increment: reference-counter;
    }

    li::before {
        content: "[" counter(reference-counter) "] "
    }
}
